# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.venv/
venv/

# PyCharm
.idea

.pytest_cashe/
.flake8

.DS_Store/
.env.example
README.md
example.jpg
tests/
settings.py
token_vk
token_tg